<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %>

    <p>Hello, <%= name%></p>
    <% let dogAge = age*7 %>
    <p> You are <%= dogAge %> years old</p>
    <% let status %>
    <% if(dogAge<100){ status= "young"}else {status = "old"} %>
    <h3>This means you are <%= status%>!</h3>
    <h1>This is the main page</h1>

<%- include ("../partials/footer.ejs") %>
</body>
</html>